@model IEnumerable<CustomAuth.Entities.Department>

<h2>All Departments</h2>
<table class="table">
    <thead>
        <tr>
            <th>Department ID</th>
            <th>Department Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var department in Model)
        {
            <tr>
                <td>@department.DeptId</td>
                <td>@department.DeptName</td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("AddDept", "Department")" class="btn btn-primary">Add Department</a>
